/*Определение переменных*/
:root {
    --primary-color: #666;
    --secondary-color: rgb(18, 18, 184);
    --text-color: rgb(2, 39, 39);
    --font-size: 16px;
    --header-bg: rgb(233, 166, 127);
}

.page {
   font-size: var(--font-size); 
   color: var(--text-color);
   
}